<p>allmaindep works!</p>

<button routerLink="/main/new" routerLinkActive="active">
  Add New Main Department
</button>

<div *ngFor="let main of allMainDep">
  <table class="table">
    <tr>
      <td>
        <h3>{{ main.name }} - {{ main.nameAR }}</h3>
      </td>
      <td>{{ main.mainDepID }}</td>

      <td>
        <button
          routerLink="/main/{{ main.mainDepID }}"
          routerLinkActive="active"
        >
          View Main Department
        </button>
        |
        <button
          routerLink="/main/edit/{{ main.mainDepID }}"
          routerLinkActive="active"
        >
          Edit
        </button>
        <button (click)="delelteOneMainDepfromService(main.mainDepID)">
          Delete
        </button>
      </td>
    </tr>
  </table>

  <div *ngFor="let dep of main.departmentList">
    <ul>
      <li>
        {{ dep.name }} - {{ dep.nameAR }}
        <button
          routerLink="/department/{{ dep.depID }}"
          routerLinkActive="active"
        >
          View Department
        </button>
        |
        <button
          routerLink="/department/edit/{{ dep.depID }}"
          routerLinkActive="active"
        >
          Edit
        </button>
        |
        <button (click)="delelteDepfromService(dep.depID)">
          Delete
        </button>
      </li>
      <div *ngFor="let categ of dep.categoriesList">
        <ul>
          <li>
            <strong>{{ categ.name }} - {{ categ.nameAR }}</strong>
            <button
              routerLink="/category/{{ categ.categoryID }}"
              routerLinkActive="active"
            >
              View Category
            </button>
            |
            <button
              routerLink="/category/edit/{{ categ.categoryID }}"
              routerLinkActive="active"
            >
              Edit
            </button>
            |
            <button (click)="delelteCategoryfromService(categ.categoryID)">
              Delete
            </button>
          </li>
          <div *ngFor="let post of categ.categPostList">
            <ul>
              <li>
                <strong>{{ post.title }} - {{ post.titleAR }}</strong>
                <button
                  routerLink="/post/{{ post.postID }}"
                  routerLinkActive="active"
                >
                  View Post
                </button>
                |
                <button
                  routerLink="/post/edit/{{ post.postID }}"
                  routerLinkActive="active"
                >
                  Edit
                </button>
                |
                <button (click)="deleltePostfromService(post.postID)">
                  Delete
                </button>
              </li>
            </ul>
          </div>
        </ul>
        <button
          routerLink="/post/{{ main.mainDepID }}/{{ dep.depID }}/{{
            categ.categoryID
          }}/new"
          routerLinkActive="active"
        >
          Add Post
        </button>
      </div>
      <td>
        <button
          routerLink="/category/{{ main.mainDepID }}/{{ dep.depID }}/new"
          routerLinkActive="active"
        >
          Add Category
        </button>
      </td>
    </ul>
  </div>

  <button
    routerLink="/department/{{ main.mainDepID }}/new"
    routerLinkActive="active"
  >
    Add Department
  </button>
</div>
