<p>category works!</p>
<div class="wrapper">
  <div class="wrapped-div">
    <div class="tab-header">
      <h2 routerLink="/category/:id" routerLinkActive="active">One (Detils)</h2>

      <h2 routerLink="/category/:idmain/:iddep/new" routerLinkActive="active">
        New Ctaegory
      </h2>
      <h2 routerLink="/category/edit/:id" routerLinkActive="active">Edit</h2>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
