<div class="wrapper">
  <div class="wrapped-div">
    <div class="tab-header">
      <h2 routerLink="/main/all" routerLinkActive="active">All</h2>
      <h2 routerLink="/main/:id" routerLinkActive="active">One (Detils)</h2>
      <h2 routerLink="/main/new" routerLinkActive="active">
        New Main Department
      </h2>
      <h2 routerLink="/main/edit/:id" routerLinkActive="active">Edit</h2>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
